@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@400;600;700;900&family=Roboto:wght@400;500;900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--- DESDE AQUÍ----- */
body {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-weight: 900;
  font-size: 30px;
}

p {
  font-weight: 600;
  font-size: 20px;
}

nav a,
ul a {
  text-decoration: none; 
  font-size: 20px;
  font-weight: 600;
}

nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  text-decoration: none;
}

.divCardHome {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}

.card {
  width: 150px; 
  padding: 15px;
  background-color: #f5f5f5; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}

.card a {
  text-decoration: none;
  color: #333; 
  font-weight: bold;
}

.card p {
  color: #666;
  font-size: 14px;
  margin-top: 5px;
}

.cardCoin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 30px auto;
  width: 500px;
  padding: 15px;
  background-color: #f5f5f5; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  text-align: center;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.spinner {
    width: 35px;
    height: 35px;
    border: 5px solid rgb(0, 119, 255);
    border-radius: 50%;
    border-right-color: #17d1c6;
    animation: rotate 1s linear infinite;
    margin: 50px auto;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }